FORMAT: 1A
HOST: http://www.google.com

# Roar Admin API

# Group Notes
Related resources of the **Roar API for admin**

## Hold Labels [/admin/api/hold/labels]
### Hold Labels [GET]
+ Response 200 (application/json)

         { "status": 200, "success": "true", "data": hold_labels : [
            {id: 1, code: '#FF7979', label: "Default Admin"},
            {id: 2, code: '#ACACAC', label: "Custom #1"},
            {id: 3, code: '#BB7000', label: "Custom #2"},
            {id: 4, code: '#85EC00', label: "Custom #3"},
            {id: 5, code: '#00BBBB', label: "Custom #4"},
            {id: 6, code: '#8E00BB', label: "Custom #5"},
            {id: 7, code: '#4900009', label: "Custom #6"}
         ]}

## Seat Move [/admin/api/seats/move]
### Move seats [POST]
+ Request (application/json)

    + Body
    
            {
                "release": true | false,
                "moves": [
                    {
                        "profile_id": 1234,
                        "seat_id": 123
                    },
                    {
                        "profile_id": 1235,
                        "seat_id": 124
                    },
                    {
                        "profile_id": 1236,
                        "seat_id": 125
                    }
                ]
            }   
            
+ Response 200 (application/json)

         { "status": 200, "success": "true", "data":{} }

## Seat Hold [/admin/api/seats/hold]
**expires_at** required, string, example: `null | 2014-09-17 23:59:59`
    
### Create a hold for seats [POST]
    
+ Request (application/json)

    + Body
    
            {
                "expires_at": "2014-09-17 23:59:59",
                "type": "administrator",
                "labelId: 1,
                "comments": "This could be blank",
                "seat_ids": [ 123, 124, 125, 126, 127 ]
            }
    
+ Response 200 (application/json)

        { "status": 200, "success": "true", "data":{} }

### Remove a hold for seats [DELETE]
+ Request (application/json)

        { "seat_ids": [ 123, 124, 125, 126, 127 ] }

+ Response 204


## Groups [/admin/api/group/{group_id}]
### List all Members in the group [GET]
+ Parameters
    + group_id (required, number, `1`) ... Numeric `group_id`

+ Response 200 (application/json)

        {
            "status": 200,
            "success": true,
            "data": {
                "id": "2356",
                "profile_id": "5739",
                "group_owner": {
                    "id": "5739",
                    "first_name": "Robert",
                    "last_name": "Simpkins",
                    "email": "rob.simpkins@crudigital.com.au",
                    "full_name": "Robert Simpkins"
                },
                "group_members": [
                    {
                        "id": "5739",
                        "membership_number": "365940",
                        "first_name": "Robert",
                        "last_name": "Simpkins",
                        "email": "rob.simpkins@crudigital.com.au",
                        "dob": "2014-01-01",
                        "gender": "male",
                        "ticket_type_id": "1",
                        "club_id": null,
                        "member_group_id": "2356",
                        "member_since": null,
                        "merch_size": null,
                        "full_name": "Robert Simpkins",
                        "membership": {
                            "id": "5737",
                            "name": "Season Membership",
                            "description": "Be there for every cross, tackle, strike, header, pass, clearance and goal! Watch us battle it out from your favourite spot in the stadium.",
                            "credits": "0",
                            "ticketed": "1",
                            "price": "340.00",
                            "season_id": "1",
                            "order": "1",
                            "status": "active",
                            "min_price": "75.00",
                            "max_price": "410.00",
                            "thumbnail": "/images/membership-season-thumbnail.jpg",
                            "merch_size_required": "0",
                            "long_description": "Be there for every cross, tackle, strike, header, pass, clearance and goal! Watch us battle it out from your favourite spot in the stadium.",
                            "url": null,
                            "displayPrice": null,
                            "membership_id": "1",
                            "profile_id": "5739",
                            "section_id": null,
                            "section_comments": null,
                            "section_preference": "",
                            "seat_id": "null",
                            "barcode_id": null,
                            "created_by": "5739",
                            "managed_by": "5739",
                            "created_at": "2014-04-25 00:25:31",
                            "updated_at": "2014-08-27 15:45:38",
                            "barcode": null,
                            "profile": {
                                "id": "5739",
                                "membership_number": "365940",
                                "first_name": "Robert",
                                "last_name": "Simpkins",
                                "email": "rob.simpkins@crudigital.com.au",
                                "dob": "2014-01-01",
                                "gender": "male",
                                "ticket_type_id": "1",
                                "club_id": null,
                                "member_group_id": "2356",
                                "member_since": null,
                                "merch_size": null,
                                "full_name": "Robert Simpkins"
                            }
                        },
                        "membership_id": "1"
                    },
                    {
                        "id": "6090",
                        "membership_number": "366291",
                        "first_name": "Rob",
                        "last_name": "Simpkins",
                        "email": "rob.simpkins+1@crudigital.com.au",
                        "dob": "2014-01-01",
                        "gender": "male",
                        "ticket_type_id": "1",
                        "club_id": null,
                        "member_group_id": "2356",
                        "member_since": null,
                        "merch_size": null,
                        "full_name": "Rob Simpkins",
                        "membership": {
                            "id": "6073",
                            "name": "Season Membership",
                            "description": "Be there for every cross, tackle, strike, header, pass, clearance and goal! Watch us battle it out from your favourite spot in the stadium.",
                            "credits": "0",
                            "ticketed": "1",
                            "price": "340.00",
                            "season_id": "1",
                            "order": "1",
                            "status": "pending",
                            "min_price": "75.00",
                            "max_price": "410.00",
                            "thumbnail": "/images/membership-season-thumbnail.jpg",
                            "merch_size_required": "0",
                            "long_description": "Be there for every cross, tackle, strike, header, pass, clearance and goal! Watch us battle it out from your favourite spot in the stadium.",
                            "url": null,
                            "displayPrice": null,
                            "membership_id": "1",
                            "profile_id": "6090",
                            "section_id": null,
                            "section_comments": null,
                            "section_preference": "",
                            "seat_id": "23618",
                            "barcode_id": null,
                            "created_by": "5739",
                            "managed_by": "5739",
                            "created_at": "2014-04-28 20:52:01",
                            "updated_at": "2014-08-27 15:45:39",
                            "barcode": null,
                            "seat": {
                                "id": "5551",
                                "section_id": "39",
                                "row": "5",
                                "seat": "36",
                                "aisle": "338",
                                "type": null,
                                "package_id": null,
                                "status": "available",
                                "section_number": "339",
                                "general_admission": "0"
                            },
                            "profile": {
                                "id": "6090",
                                "membership_number": "366291",
                                "first_name": "Rob",
                                "last_name": "Simpkins",
                                "email": "rob.simpkins+1@crudigital.com.au",
                                "dob": "2014-01-01",
                                "gender": "male",
                                "ticket_type_id": "1",
                                "club_id": null,
                                "member_group_id": "2356",
                                "member_since": null,
                                "merch_size": null,
                                "full_name": "Rob Simpkins"
                            }
                        },
                        "membership_id": "1"
                    }
                ]
            }
        }


## Sections [/admin/api/sections/{venue_id}]
### List all Sections [GET]
+ Parameters
    + venue_id (required, number, `1`) ... Numeric `venue_id`

+ Response 200 (application/json)

        { "status": 200, "success": "true", 
            "data": {
                 "packages": [
                     {
                         "package_id": 1,
                         "color": "#D9D2E1",
                         "name": "Platinum"
                     },
                     {
                         "package_id": 2,
                         "color": "#2C2E2B",
                         "name": "Black"
                     },
                     {
                         "package_id": 3,
                         "color": "#FA8C39",
                         "name": "Orange"
                     },
                     {
                         "package_id": 4,
                         "color": "#D12431",
                         "name": "The Den"
                     },
                     {
                         "package_id": 5,
                         "color": "#D65666",
                         "name": "Away Supporters Bay"
                     },
                     {
                         "package_id": 6,
                         "color": "#109154",
                         "name": "One Goal Clubs"
                     },
                     {
                         "package_id": 7,
                         "color": "#92DAF7",
                         "name": "Family General Admission"
                     },
                     {
                         "package_id": 8,
                         "color": "#007A96",
                         "name": "Family Reserved"
                     },
                     {
                         "package_id": 9,
                         "color": "#00B2A0",
                         "name": "Family Unlicensed"
                     }
                 ],
                 "sections":[
                    {
                       "id":"1",
                       "number":"301",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"1",
                       "status":"available",
                       "package":{
                          "id":"1",
                          "name":"Platinum",
                          "color":"#D9D2E1",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"1"
                       }
                    },
                    {
                       "id":"2",
                       "number":"302",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"1",
                       "status":"available",
                       "package":{
                          "id":"1",
                          "name":"Platinum",
                          "color":"#D9D2E1",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"1"
                       }
                    },
                    {
                       "id":"3",
                       "number":"303",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"1",
                       "status":"available",
                       "package":{
                          "id":"1",
                          "name":"Platinum",
                          "color":"#D9D2E1",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"1"
                       }
                    },
                    {
                       "id":"4",
                       "number":"304",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"2",
                       "status":"available",
                       "package":{
                          "id":"2",
                          "name":"Black",
                          "color":"#2C2E2B",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"2"
                       }
                    },
                    {
                       "id":"5",
                       "number":"305",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"6",
                       "number":"306",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"7",
                       "number":"307",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"8",
                       "number":"308",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"9",
                       "number":"309",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"9",
                       "status":"available",
                       "package":{
                          "id":"9",
                          "name":"Family Unlicensed",
                          "color":"#00B2A0",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"9"
                       }
                    },
                    {
                       "id":"10",
                       "number":"310",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"8",
                       "status":"available",
                       "package":{
                          "id":"8",
                          "name":"Family Reserved",
                          "color":"#007A96",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"8"
                       }
                    },
                    {
                       "id":"11",
                       "number":"311",
                       "general_admission":"1",
                       "venue_id":"1",
                       "package_id":"7",
                       "status":"available",
                       "package":{
                          "id":"7",
                          "name":"Family General Admission",
                          "color":"#92DAF7",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"7"
                       }
                    },
                    {
                       "id":"12",
                       "number":"312",
                       "general_admission":"1",
                       "venue_id":"1",
                       "package_id":"7",
                       "status":"available",
                       "package":{
                          "id":"7",
                          "name":"Family General Admission",
                          "color":"#92DAF7",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"7"
                       }
                    },
                    {
                       "id":"13",
                       "number":"313",
                       "general_admission":"1",
                       "venue_id":"1",
                       "package_id":"7",
                       "status":"available",
                       "package":{
                          "id":"7",
                          "name":"Family General Admission",
                          "color":"#92DAF7",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"7"
                       }
                    },
                    {
                       "id":"14",
                       "number":"314",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"15",
                       "number":"315",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"16",
                       "number":"316",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"17",
                       "number":"317",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"5",
                       "status":"available",
                       "package":{
                          "id":"5",
                          "name":"Away Supporters Bay",
                          "color":"#D65666",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"5"
                       }
                    },
                    {
                       "id":"18",
                       "number":"318",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"6",
                       "status":"available",
                       "package":{
                          "id":"6",
                          "name":"One Goal Clubs",
                          "color":"#109154",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"6"
                       }
                    },
                    {
                       "id":"19",
                       "number":"319",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"6",
                       "status":"available",
                       "package":{
                          "id":"6",
                          "name":"One Goal Clubs",
                          "color":"#109154",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"6"
                       }
                    },
                    {
                       "id":"20",
                       "number":"320",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"2",
                       "status":"available",
                       "package":{
                          "id":"2",
                          "name":"Black",
                          "color":"#2C2E2B",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"2"
                       }
                    },
                    {
                       "id":"21",
                       "number":"321",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"1",
                       "status":"available",
                       "package":{
                          "id":"1",
                          "name":"Platinum",
                          "color":"#D9D2E1",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"1"
                       }
                    },
                    {
                       "id":"22",
                       "number":"322",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"1",
                       "status":"available",
                       "package":{
                          "id":"1",
                          "name":"Platinum",
                          "color":"#D9D2E1",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"1"
                       }
                    },
                    {
                       "id":"23",
                       "number":"323",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"2",
                       "status":"available",
                       "package":{
                          "id":"2",
                          "name":"Black",
                          "color":"#2C2E2B",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"2"
                       }
                    },
                    {
                       "id":"24",
                       "number":"324",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"6",
                       "status":"available",
                       "package":{
                          "id":"6",
                          "name":"One Goal Clubs",
                          "color":"#109154",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"6"
                       }
                    },
                    {
                       "id":"25",
                       "number":"325",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"6",
                       "status":"available",
                       "package":{
                          "id":"6",
                          "name":"One Goal Clubs",
                          "color":"#109154",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"6"
                       }
                    },
                    {
                       "id":"26",
                       "number":"326",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"27",
                       "number":"327",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"28",
                       "number":"328",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"29",
                       "number":"329",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"30",
                       "number":"330",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"31",
                       "number":"331",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"4",
                       "status":"available",
                       "package":{
                          "id":"4",
                          "name":"The Den",
                          "color":"#D12431",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"4"
                       }
                    },
                    {
                       "id":"32",
                       "number":"332",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"4",
                       "status":"available",
                       "package":{
                          "id":"4",
                          "name":"The Den",
                          "color":"#D12431",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"4"
                       }
                    },
                    {
                       "id":"33",
                       "number":"333",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"4",
                       "status":"available",
                       "package":{
                          "id":"4",
                          "name":"The Den",
                          "color":"#D12431",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"4"
                       }
                    },
                    {
                       "id":"34",
                       "number":"334",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"35",
                       "number":"335",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"36",
                       "number":"336",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"37",
                       "number":"337",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"38",
                       "number":"338",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"3",
                       "status":"available",
                       "package":{
                          "id":"3",
                          "name":"Orange",
                          "color":"#FA8C39",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"3"
                       }
                    },
                    {
                       "id":"39",
                       "number":"339",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"2",
                       "status":"available",
                       "package":{
                          "id":"2",
                          "name":"Black",
                          "color":"#2C2E2B",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"2"
                       }
                    },
                    {
                       "id":"40",
                       "number":"340",
                       "general_admission":"0",
                       "venue_id":"1",
                       "package_id":"1",
                       "status":"available",
                       "package":{
                          "id":"1",
                          "name":"Platinum",
                          "color":"#D9D2E1",
                          "one_goal_clubs":"0",
                          "reduced":"0",
                          "order":"1"
                       }
                    }
                ]
            }
        } 

## Seats [/admin/api/seats/{section_id}]
NOTE:

0. Admin Statuses (admin_status):
- unavailable (could be not sold)
- sold (unavailable)
- available
- on_hold (has types with its own half colour)

1. Availalble hold types:
- "administrator",
- "pending_cart",
- "pending_payment"
- "pending_renewal"
2. seats need to be sorted by id to avoid sorting in the frontend
3. always take last hold on the frontend
4. profiles to be attached to hold object and seat object (if on-hold for user or paid)


### List all Seats [GET]
+ Parameters
    + section_id (required, number, `1`) ... Numeric `section_id`

+ Response 200 (application/json)

        {
            "status": 200,
            "success": true,
            "data": {
                    "id": "9",
                    "number": "309",
                    "general_admission": "0",
                    "venue_id": "1",
                    "package_id": "9",
                    "status": "available",
                    "seats": [{
                        "id": "5549",
                        "section_id": "9",
                        "row": "1",
                        "seat": "28",
                        "aisle": "308",
                        "type": "weelchair",
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5550",
                        "section_id": "9",
                        "row": "1",
                        "seat": "29",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "unavailable",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5551",
                        "section_id": "9",
                        "row": "1",
                        "seat": "30",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "unavailable",
                        "holds": [{
                            "id": "33089",
                            "seat_id": "5563",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5552",
                        "section_id": "9",
                        "row": "1",
                        "seat": "31",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0",
                        "profile_membership": {
                            "profile": {
                                "id": "5739",
                                "membership_number": "2356",
                                "full_name": "Robert Simpkins",
                                "email": "rob.simpkins@crudigital.com.au"
                            }
                        }
                    }, {
                        "id": "5553",
                        "section_id": "9",
                        "row": "1",
                        "seat": "32",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5554",
                        "section_id": "9",
                        "row": "1",
                        "seat": "33",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5555",
                        "section_id": "9",
                        "row": "1",
                        "seat": "34",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5556",
                        "section_id": "9",
                        "row": "1",
                        "seat": "35",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5557",
                        "section_id": "9",
                        "row": "1",
                        "seat": "36",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5558",
                        "section_id": "9",
                        "row": "1",
                        "seat": "37",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5559",
                        "section_id": "9",
                        "row": "1",
                        "seat": "38",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5560",
                        "section_id": "9",
                        "row": "1",
                        "seat": "39",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5561",
                        "section_id": "9",
                        "row": "1",
                        "seat": "40",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5562",
                        "section_id": "9",
                        "row": "1",
                        "seat": "41",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5563",
                        "section_id": "9",
                        "row": "1",
                        "seat": "42",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33089",
                            "seat_id": "5563",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5564",
                        "section_id": "9",
                        "row": "1",
                        "seat": "43",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33090",
                            "seat_id": "5564",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5565",
                        "section_id": "9",
                        "row": "1",
                        "seat": "44",
                        "aisle": "309",
                        "type": "enchanced",
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33091",
                            "seat_id": "5565",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5566",
                        "section_id": "9",
                        "row": "1",
                        "seat": "45",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33092",
                            "seat_id": "5566",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5567",
                        "section_id": "9",
                        "row": "1",
                        "seat": "46",
                        "aisle": "309",
                        "type": "escort",
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33093",
                            "seat_id": "5567",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5568",
                        "section_id": "9",
                        "row": "1",
                        "seat": "47",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33094",
                            "seat_id": "5568",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5569",
                        "section_id": "9",
                        "row": "1",
                        "seat": "48",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33095",
                            "seat_id": "5569",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5570",
                        "section_id": "9",
                        "row": "1",
                        "seat": "49",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33096",
                            "seat_id": "5570",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5571",
                        "section_id": "9",
                        "row": "1",
                        "seat": "50",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33097",
                            "seat_id": "5571",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5572",
                        "section_id": "9",
                        "row": "1",
                        "seat": "51",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33098",
                            "seat_id": "5572",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5573",
                        "section_id": "9",
                        "row": "1",
                        "seat": "52",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33099",
                            "seat_id": "5573",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5574",
                        "section_id": "9",
                        "row": "2",
                        "seat": "27",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5575",
                        "section_id": "9",
                        "row": "2",
                        "seat": "28",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5576",
                        "section_id": "9",
                        "row": "2",
                        "seat": "29",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5577",
                        "section_id": "9",
                        "row": "2",
                        "seat": "30",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5578",
                        "section_id": "9",
                        "row": "2",
                        "seat": "31",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5579",
                        "section_id": "9",
                        "row": "2",
                        "seat": "32",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5580",
                        "section_id": "9",
                        "row": "2",
                        "seat": "33",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5581",
                        "section_id": "9",
                        "row": "2",
                        "seat": "34",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5582",
                        "section_id": "9",
                        "row": "2",
                        "seat": "35",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5583",
                        "section_id": "9",
                        "row": "2",
                        "seat": "36",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5584",
                        "section_id": "9",
                        "row": "2",
                        "seat": "37",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5585",
                        "section_id": "9",
                        "row": "2",
                        "seat": "38",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5586",
                        "section_id": "9",
                        "row": "2",
                        "seat": "39",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5587",
                        "section_id": "9",
                        "row": "2",
                        "seat": "40",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5588",
                        "section_id": "9",
                        "row": "2",
                        "seat": "41",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5589",
                        "section_id": "9",
                        "row": "2",
                        "seat": "42",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33100",
                            "seat_id": "5589",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5590",
                        "section_id": "9",
                        "row": "2",
                        "seat": "43",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33101",
                            "seat_id": "5590",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5591",
                        "section_id": "9",
                        "row": "2",
                        "seat": "44",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33102",
                            "seat_id": "5591",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5592",
                        "section_id": "9",
                        "row": "2",
                        "seat": "45",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33103",
                            "seat_id": "5592",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5593",
                        "section_id": "9",
                        "row": "2",
                        "seat": "46",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33104",
                            "seat_id": "5593",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5594",
                        "section_id": "9",
                        "row": "2",
                        "seat": "47",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33105",
                            "seat_id": "5594",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5595",
                        "section_id": "9",
                        "row": "2",
                        "seat": "48",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33106",
                            "seat_id": "5595",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5596",
                        "section_id": "9",
                        "row": "2",
                        "seat": "49",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33107",
                            "seat_id": "5596",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5597",
                        "section_id": "9",
                        "row": "2",
                        "seat": "50",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33108",
                            "seat_id": "5597",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5598",
                        "section_id": "9",
                        "row": "2",
                        "seat": "51",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33109",
                            "seat_id": "5598",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5599",
                        "section_id": "9",
                        "row": "2",
                        "seat": "52",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33110",
                            "seat_id": "5599",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5600",
                        "section_id": "9",
                        "row": "3",
                        "seat": "27",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5601",
                        "section_id": "9",
                        "row": "3",
                        "seat": "28",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5602",
                        "section_id": "9",
                        "row": "3",
                        "seat": "29",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5603",
                        "section_id": "9",
                        "row": "3",
                        "seat": "30",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5604",
                        "section_id": "9",
                        "row": "3",
                        "seat": "31",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5605",
                        "section_id": "9",
                        "row": "3",
                        "seat": "32",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5606",
                        "section_id": "9",
                        "row": "3",
                        "seat": "33",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5607",
                        "section_id": "9",
                        "row": "3",
                        "seat": "34",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5608",
                        "section_id": "9",
                        "row": "3",
                        "seat": "35",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5609",
                        "section_id": "9",
                        "row": "3",
                        "seat": "36",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5610",
                        "section_id": "9",
                        "row": "3",
                        "seat": "37",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5611",
                        "section_id": "9",
                        "row": "3",
                        "seat": "38",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5612",
                        "section_id": "9",
                        "row": "3",
                        "seat": "39",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5613",
                        "section_id": "9",
                        "row": "3",
                        "seat": "40",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5614",
                        "section_id": "9",
                        "row": "3",
                        "seat": "41",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5615",
                        "section_id": "9",
                        "row": "3",
                        "seat": "42",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33111",
                            "seat_id": "5615",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5616",
                        "section_id": "9",
                        "row": "3",
                        "seat": "43",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33112",
                            "seat_id": "5616",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5617",
                        "section_id": "9",
                        "row": "3",
                        "seat": "44",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33113",
                            "seat_id": "5617",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5618",
                        "section_id": "9",
                        "row": "3",
                        "seat": "45",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33114",
                            "seat_id": "5618",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5619",
                        "section_id": "9",
                        "row": "3",
                        "seat": "46",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33115",
                            "seat_id": "5619",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5620",
                        "section_id": "9",
                        "row": "3",
                        "seat": "47",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33116",
                            "seat_id": "5620",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5621",
                        "section_id": "9",
                        "row": "3",
                        "seat": "48",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33117",
                            "seat_id": "5621",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5622",
                        "section_id": "9",
                        "row": "3",
                        "seat": "49",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33118",
                            "seat_id": "5622",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5623",
                        "section_id": "9",
                        "row": "3",
                        "seat": "50",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33119",
                            "seat_id": "5623",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5624",
                        "section_id": "9",
                        "row": "3",
                        "seat": "51",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33120",
                            "seat_id": "5624",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5625",
                        "section_id": "9",
                        "row": "3",
                        "seat": "52",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33121",
                            "seat_id": "5625",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5626",
                        "section_id": "9",
                        "row": "4",
                        "seat": "27",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5627",
                        "section_id": "9",
                        "row": "4",
                        "seat": "28",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5628",
                        "section_id": "9",
                        "row": "4",
                        "seat": "29",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5629",
                        "section_id": "9",
                        "row": "4",
                        "seat": "30",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5630",
                        "section_id": "9",
                        "row": "4",
                        "seat": "31",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5631",
                        "section_id": "9",
                        "row": "4",
                        "seat": "32",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5632",
                        "section_id": "9",
                        "row": "4",
                        "seat": "33",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5633",
                        "section_id": "9",
                        "row": "4",
                        "seat": "34",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5634",
                        "section_id": "9",
                        "row": "4",
                        "seat": "35",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5635",
                        "section_id": "9",
                        "row": "4",
                        "seat": "36",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5636",
                        "section_id": "9",
                        "row": "4",
                        "seat": "37",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5637",
                        "section_id": "9",
                        "row": "4",
                        "seat": "38",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5638",
                        "section_id": "9",
                        "row": "4",
                        "seat": "39",
                        "aisle": "308",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5639",
                        "section_id": "9",
                        "row": "4",
                        "seat": "40",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5640",
                        "section_id": "9",
                        "row": "4",
                        "seat": "41",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "available",
                        "holds": [
        
                        ],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5641",
                        "section_id": "9",
                        "row": "4",
                        "seat": "42",
                        "aisle": "309",
                        "type": null,
                        "package_id": null,
                        "status": "on_hold",
                        "holds": [{
                            "id": "33122",
                            "seat_id": "5641",
                            "profile_id": "1",
                            "expires_at": "2015-07-31 23:59:59",
                            "type": "administrator",
                            "colour": "#cccccc",
                            "comments": "2014-09-16 ROAR requested seats be reserved for ticketek sales"
                        }],
                        "section_number": "309",
                        "general_admission": "0"
                    }, {
                        "id": "5642",
                        "section_id": "9",
                        "row": "4",
                        "seat": "43",
                        "aisle": "309",
[...]
